

/* --------------------------------Arquivo de configiração CSS-------------------------------- */

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}


